body {
  font-family: "Poppins", sans-serif;
}

.button-oval {
  border-radius: 30px 30px 30px 30px !important;
}

.account-form {
  border: 1px solid gray;
  padding: 15px 30px 30px 30px;
}

.account-button-container {
  padding-left: 30px;
  padding-right: 30px;
}

.button-orange {
  background-color: orange !important;
  border-color: orange !important;

  &:hover {
    background-color: rgb(226, 148, 3) !important;
    border-color: rgb(226, 148, 3) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5) !important;
  }
}

.navigation-link {
  font-size: 20px;
  text-decoration: none;
}

.logo {
  border-radius: 4px;
}
